header.header
    nav.nav.nav--tours
        a.nav__el(href='/') All tours
    .header__logo
        img(src='/img/logo-white.png', alt='Natours logo')
    nav.nav.nav--user
        if user
            a.nav__el.nav__el--logout Log out
            a.nav__el(href='/me')
                img.nav__user-img(src=`/img/users/${user.photo}`, alt=`${user.name} Photo`) 
                span= user.name.split(' ')[0]
        else
            a.nav__el(href='/login') Log in
            //- Build this as exercise. 
            a.nav__el.nav__el--cta(href='#') Sign up