extend base

mixin navItem(link, text, icon, isActive)
  li(class=`${isActive ? 'side-nav--active' : ''}`)
    a(href=`${link}`)
      svg
        use(xlink:href=`img/icons.svg#icon-${icon}`)
      | #{text}

block content
  main.main
    .user-view
      nav.user-view__menu
        ul.side-nav
          +navItem('#', 'Settings', 'settings', true)
          +navItem('#', 'My Bookings', 'briefcase')
          +navItem('#', 'My Reviews', 'star')
          +navItem('#', 'Billing', 'credit-card')
        - if (user.role === 'admin')
          .admin-nav
            h5.admin-nav__heading Admin
            ul.side-nav
              +navItem('#', 'Manage Tours', 'map')
              +navItem('#', 'Manage Users', 'users')
              +navItem('#', 'Manage Reviews', 'star')
              +navItem('#', 'Manage Bookings', 'briefcase')
                  
      .user-view__content
        .user-view__form-container
          h2.heading-secondary.ma-bt-md Your account settings
          //- WITHOUT API
          //- form.form.form-user-data(action='/submit-user-data', method='POST')
          //- WITH API
          form.form.form-user-data
            .form__group
              label.form__label(for='name') Name
              input#name.form__input(type='text', value=`${user.name}`, required, name='name')
            .form__group.ma-bt-md
              label.form__label(for='email') Email Address
              input#email.form__input(type='email', value=`${user.email}`, required, name='email')
            .form__group.form__photo-upload
              img.form__user-photo(src=`img/users/${user.photo}`, alt=`${user.name} Photo`)
              a.btn-text(href='') Choose New Photo
            .form__group.right
              button.btn.btn--small.btn--green Save Settings
        .line &nbsp;
        .user-view__form-container
          h2.heading-secondary.ma-bt-md Password Change
          form.form.form-user-password
            .form__group
              label.form__label(for='password-current') Current Password
              input#password-current.form__input(type='password', placeholder='••••••••', required, minlength='8')
            .form__group
              label.form__label(for='password') New Password
              input#password.form__input(type='password', placeholder='••••••••', required, minlength='8')
            .form__group.ma-bt-lg
              label.form__label(for='password-confirm') Confirm Password
              input#password-confirm.form__input(type='password', placeholder='••••••••', required, minlength='8')
            .form__group.right
              button.btn.btn--small.btn--save-password Save Password
